// Copyright 2025 The Lynx Authors. All rights reserved.
// Licensed under the Apache License Version 2.0 that can be found in the
// LICENSE file in the root directory of this source tree.

export interface Config {
{% for config in configs %}
  /**
  * @description {{ config.desc }}
  * @valueType {{ config.js_value_type }}
  * @defaultValue {{ config.js_default_value }}
  * @since {{ config.since }}
  * @supportPlatform {{ config.support_platform }}
  {% if config.deprecated %}
  * @deprecated {{ config.deprecated }}
  {% endif %}
  */
  {{ config.name }}?: {{ config.js_value_type }} | undefined;

{% endfor %}
}
