// Copyright 2025 The Lynx Authors. All rights reserved.
// Licensed under the Apache License Version 2.0 that can be found in the
// LICENSE file in the root directory of this source tree.

export interface Config {
{% for config in configs %}
  /**
   {% if config.desc %}
   * {{ config.desc }}
   {% endif %}
   {% if config.js_value_type %}
   * @type {{ '{' }}{{ config.js_value_type }}{{ '}' }}
   {% endif %}
   {% if config.js_default_value %}
   * @defaultValue {{ config.js_default_value }}
   {% endif %}
   {% if config.since %}
   * @since {{ config.since }}
   {% endif %}
   {% if config.support_platform %}
   * @supportPlatform {{ config.support_platform }}
   {% endif %}
   {% if config.deprecated %}
   * @deprecated {{ config.deprecated }}
   {% endif %}
   */
  {{ config.name }}?: {{ config.js_value_type }};

{% endfor %}
}

