.radio_wrap {
  display:linear;
  width: 650rpx;
  margin-top: 10rpx;
  margin-left: 20rpx;
  linear-orientation: horizontal;
  linear-gravity: space-between;
  linear-cross-gravity: center;
}

.radio {
  height:45rpx;
  width:45rpx;
  linear-layout-gravity:center-vertical;
}
