.switch_wrap {
  height:100%;
  margin-right: 5rpx;
  width:150rpx;
  display:linear;
  linear-orientation: horizontal;
  linear-gravity: center-horizontal;
}

.switch {
  height:100rpx;
  width:150rpx;
  linear-layout-gravity:center-vertical;
}
