// Copyright 2025 The Lynx Authors. All rights reserved.
// Licensed under the Apache License Version 2.0 that can be found in the
// LICENSE file in the root directory of this source tree.

/** @type {string[]} */
const compilerOptionsKeys = [
  {% for option in options %}
  {% if not export or (export and option.export)%}
  '{{option.name}}',
  {% endif %}
  {% endfor %}
]

/** @type {string[]} */
const configKeys = [
  {% for config in configs %}
  {% if not export or (export and config.export)%}
  '{{config.name}}',
  {% endif %}
  {% endfor %}
]

module.exports = {
  compilerOptionsKeys,
  configKeys,
}
